@import "tailwindcss";
:root {
  --background: #ffffff;
  --foreground: #00051C;
  --primary: #02A2FC;
  --secondary: #1CE723;
  --red-primary : #F81011 ; 
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-red-primary : var(--red-primary) ;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #00051C;
    --primary: #02A2FC;
    --secondary: #1CE723;
    --red-primary : #F81011 ;
  }
}
